

<div class="wrapper">
  <div class="header">
    <h1>📝 to-do list:</h1>
  </div>
  
  <div class="search-task">
    <input
      tuiTextfield
      [formControl]="searchControl"
      placeholder="Поиск задач"
      size="m"
      appearance="outline"
      style="width:100%;"
    />
  </div>

  <div class="add-task">
    <input
      tuiTextfield
      [(ngModel)]="newTitle"
      placeholder="Что нужно сделать?"
      [maxlength]="maxTitleLength"
      size="m"
      style="flex:1;"
      (keydown.enter)="add()"
    />

    <button
      tuiButton
      appearance="primary"
      size="m"
      (click)="add()"
      [disabled]="!newTitle.trim()"
    >
      Добавить
    </button>
  </div>
</div>

<div class="container">
    <ng-container *ngIf="tasks$ | async as tasks">
      <div *ngFor="let task of tasks$ | async" 
          class="task-card"
          [class.completed]="task.checked"
      >
        <div tuiBlock="m">
          <div class="task-inner">
            <input
                size="s"
                tuiCheckbox
                type="checkbox"
                [checked]="task.checked"
                [formControl]="controls[task.id]"
            />

            <!-- режим ПРОСМОТРА -->
            <ng-container *ngIf="editingId != task.id">
              <div class="task-left-side">
                <!-- [innerHTML]="highlightMatch(task.title, searchControl.value || '')" -->
                <span (dblclick)="startEditing(task)" style="cursor:text;"
                      >
                  {{ task.title }}
                </span>
              </div>
              <div class="task-right-side">
                <button 
                  (click)="startEditing(task)"
                  title="Редактировать задачу"
                  appearance="icon"
                >✏️</button>

                <button
                    type="button"
                    (click)="delete(task.id)"
                    title="Удалить задачу"
                    appearance="icon"
                >🗑️</button>
              </div>
            </ng-container>

            <!-- режим РЕДАКТИРОВАНИЯ -->
            <ng-container *ngIf="editingId == task.id">
              <div class="task-left-side">
                <input
                  tuiTextfield
                  [(ngModel)]="editingTitle"
                  maxlength="100"
                  (keydown.enter)="saveChanges()"
                  style="flex:1;"
                />

                <button 
                    (click)="saveChanges()"
                    title="Сохранить изменения"
                    appearance="icon"
                >
                  ✔️
                </button>

                <button 
                    (click)="cancelEditing()"
                    title="Отменить изменения"
                    appearance="icon"
                >
                  ✖️
                </button>
              </div>

              <div class="task-right">
                <button
                    type="button"
                    (click)="delete(task.id)"
                    title="Удалить задачу"
                    appearance="icon"
                >🗑️</button>
              </div>
            </ng-container>
            
          </div>
        </div>
      </div>

      <li *ngIf="tasks.length === 0">Ничего не найдено</li>
    </ng-container>

  </div>
