<h1>to-do list:</h1>

<div>
  <div class="search-task" style="margin-bottom: 1rem;">
    <input
      tuiTextfield
      [formControl]="searchControl"
      placeholder="Поиск задач"
      size="m"
      appearance="outline"
      style="width:100%;"
    />
  </div>

  <div class="add-task" style="margin-bottom:1rem; display:flex; gap:0.5rem;">
    <input
      tuiTextfield
      [(ngModel)]="newTitle"
      placeholder="Новая задача"
      size="m"
      style="flex:1;"
      (keydown.enter)="add()"
    />

    <button
      tuiButton
      appearance="primary"
      size="m"
      (click)="add()"
      [disabled]="!newTitle.trim()"
    >
      Добавить
    </button>
  </div>

  <div class="container">
    <ng-container *ngIf="tasks$ | async as tasks">
      <div *ngFor="let task of tasks$ | async" 
          class="task-card"
          [class.completed]="task.checked"
      >
        <div tuiBlock="m">
          <div class="task-inner">
            <input
                size="s"
                tuiCheckbox
                type="checkbox"
                [checked]="task.checked"
                [formControl]="controls[task.id]"
            />

            <!-- режим ПРОСМОТРА -->
            <ng-container *ngIf="editingId != task.id">
              <span (dblclick)="startEditing(task)" style="cursor:text;">{{ task.title }}</span>

              <button 
                  (click)="startEditing(task)"
                  title="Редактировать задачу"
              >
                ✏️
              </button>

              <button
                  type="button"
                  (click)="delete(task.id)"
                  title="Удалить задачу"
              >
                ❌
              </button>
            </ng-container>

            <!-- режим РЕДАКТИРОВАНИЯ -->
            <ng-container *ngIf="editingId == task.id">
              <input type="text" 
                    [(ngModel)]="editingTitle"
                    (keydown.enter)="saveChanges()"
              />

              <button 
                  (click)="saveChanges()"
                  title="Сохранить изменения"
              >
                ✔️
              </button>

              <button 
                  (click)="cancelEditing()"
                  title="Отменить изменения"
              >
                ✖️
              </button>


              <button
                  type="button"
                  (click)="delete(task.id)"
                  title="Удалить задачу"
              >
                ❌
              </button>
            </ng-container>
            
          </div>
        </div>
      </div>

      <li *ngIf="tasks.length === 0">Ничего не найдено</li>
    </ng-container>

  </div>

</div>
