<h1>to-do list:</h1>
<div>
  <div class="container">
    <ng-container *ngIf="tasks$ | async as tasks">
      <div *ngFor="let task of tasks$ | async" 
          class="task-card"
          [class.completed]="task.checked"
      >
        <label tuiBlock="m">
          <div class="task-inner">
            <input
                size="s"
                tuiCheckbox
                type="checkbox"
                [checked]="task.checked"
                [formControl]="controls[task.id]"
            />
            {{ task.title }}
          </div>
          <button
              type="button"
              (click)="delete(task.id)"
              style="border:none; background:none; cursor:pointer; font-weight:bold;"
              title="Удалить задачу"
          >
            ❌
          </button>
        </label>
      </div>

      <li *ngIf="tasks.length === 0">Ничего не найдено</li>
    </ng-container>

  </div>

</div>
